    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2019, 2:34:30 AM
    Author     : hpo
*/
/* "css reset"; resets the styling of all HTML elements to a consistent baseline. */
*{
    direction: rtl;
    margin: 0;
    padding: 0;
    border: 0;
}

/* add font compatible with any browser */
@font-face{
        font-family: myfont;
        src: url("font/Iransans-Bold.ttf") format('truetype'),
        src: url("font/Iransans-Bold.eot") format('eot'),
        src: url("font/Iransans-Bold.woff") format('woff'),
        src: url("font/Iransans-Bold.woff2") format('woff2'),
        font-weight: 400px;
        font-size: 12px;
        }
@font-face{
        font-family: myfont;
        src: url("font/Iransans.ttf") format('truetype');
        src: url("font/Iransans.eot") format('eot'),
        src: url("font/Iransans.woff") format('woff'),
        src: url("font/Iransans.woff2") format('woff2'),        
        font-size: 12px;
        } 

/* the pseudo class can style that text across most browsers */        
::-webkit-input-placeholder{
    color: rgb(170, 170, 170);
    text-align: right;
    font-size: 12px;
    font-family: myfont, sans-serif;    
}        
:-ms-input-placeholder{
    color: rgb(170, 170, 170);
    text-align: right;
    font-size: 12px;
    font-family: myfont, sans-serif;    
}
        
/* Pseudo classes */
a:hover{
    color: rgb(19, 126, 174); 
}
.google-box:hover #google-icon{
    color: #fff;   
}
.google-box:hover #google-sign-in{
    color: #fff;
    background-color:rgb(221, 75, 57);
}
.form-box input::placeholder{
    color: rgb(170, 170, 170);
    text-align: right;
    font-size: 12px;
    font-family: myfont;
}
.form-box input:focus{
    outline: 0;
}
#btn-login:hover{
background-color: rgb(191, 22, 74);
}
/*select tags style */
body{
    background-color: rgb(249, 249, 249);
    color: rgb(120, 120, 120);
    font-size: 12px;
    line-height: 1.5;
    font-family: myfont, sans-serif;   
}
a{
    text-decoration: none;
    color: rgb(5, 163, 232);
}
i {
    position: absolute;
    top: 20%;
    left: 2%;
    font-size: 20px !important;
    color: rgb(222, 223, 225);
}

.form-box input{
    width: 100%; /* all % are relative to .form-box */
    padding: 0 1% 1% 10%;
    direction: ltr;
    box-sizing: border-box;
}

/* start class style */
.logo{
    
    max-width: 190px;
}
.container{
    max-width: 410px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 3.5% auto; /* relative to body */
    padding-bottom: 2%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);   
}

.sign-up{
    max-width:100%; /* is relative to container */ 
    padding: 7% 7%;
    position: relative;
    border-bottom: 1px solid rgb(240, 240, 240);      
}

.sign-up-link{
    display: block; /* is relative to .sign-up  */
    position: absolute;
    top: 35%;
    left: 7%;
    word-spacing: 4px;
   
}
.form-box{
    width: 100%; /* relative to #form-login */
    padding: 3% 0;
    position: relative;
    margin-top: 14px;
    border-radius: 3px;
    border: 1px solid rgb(222, 223, 225);
    font-family: myfont;
    font-size: 13px;   
}
.google-box{
    width: 70%;
    padding: 0;
    margin: 3% auto;
    border: 2px solid rgb(221, 75, 57); 
    position: relative;
    direction: rtl !important;
}

/* start ID style */
#logo-box{
    text-align: center;
    margin:3.5% auto;
}
#form-login{
    width: 85%; /* is relative to container */
    margin: 7% auto;
}

div #forget-inff{
    width: 100%; /* is relative to #form-login */
    padding: 6% 0 6% 0;
}
div #btn-login{
    padding-bottom: 2%;
    background-color: rgb(234, 29, 93);
    border:none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: 700;
}
div #text-or{
    width: 85%;
    margin: 10% auto;
    line-height: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    text-align: center;
}
#text-or-box{
    padding: 3%;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: rgb(177, 169, 165);
    line-height: 0;   
}
 
#google-sign-in{
    margin: 0 auto;
    display: block;
    position: relative;
    width:100%;
    padding: 2% 0;
    background-color: rgb(255, 255, 255);
    color: rgb(221, 75, 57);
    transition: all 0.3s ease 0s;
    font-family: myfont;
    font-size: 13px;
}
#google-icon{
    position: absolute;
    top:14%;
    left: 75%;
    color: rgb(221, 75, 57);
    font-size: 28px !important;
    transition: all 0.3s ease 0s;
}


